{% extends "CosmetologyApp/layout.html" %}

{% block title %}Company Info{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'site.css' %}" xmlns="http://www.w3.org/1999/html">
<section>
    <h1 style=" text-align: center;">About Us</h1>
    <p class="devis"><q>Any clinic is primarily the specialists who work in it.</q></p>
    <pre style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >
  All our specialists undergo regular professional development and
  follow the innovations in the world of the beauty industry.
  Therefore, when you come to Cosmetology Tel Aviv, you get a service, an individual approach to your beauty,
  and a quality guarantee.</pre>
    <blockquote style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" cite="https://cosmetologytelaviv.com/en">
        In one <dfn><abbr title="In Shine Salon">place</abbr></dfn>, we have collected the most popular areas of aesthetic cosmetology.
    Correction of body volume, stretch marks,
    cellulite, puffiness, and varicose veins -
        all these problems you can solve in our clinic.<dfn><abbr title="Director of our company" style="color:#8374d3">-Daria</abbr> </dfn></blockquote>
</section>
<section>
    <div>
    <a href="/CosmetologyApp/">
        <img style="height:500px; weidth:500px" src="https://i.pinimg.com/564x/80/e8/d4/80e8d462d6bcf6f409f6a115dec15092.jpg"
                                      alt="logo">
    </a>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_P4lSJBMgAs?autoplay=0"
  frameborder="0" allowfullscreen>

</iframe>
<audio controls autoplay muted loop>
        <source src="{% static 'audio/song.mp3' %}">
  </audio>
</section>
<section>
  <h2>History of the years</h2>
  <article>
    <h3>2020:</h3>
    <pre>In early 2020, the "In Shine" salon opened its doors in the city center.
         It was equipped with state-of-the-art technology and offered a wide range
         of services, from classic procedures to innovative skincare methods.</pre>

  </article>
  <article>
    <h3>2021:</h3>
    <pre>In 2021, "In Shine" became a popular destination among clients due to its
         outstanding specialists and unique cosmetic procedures. Procedures for
         skin rejuvenation and renewal, in particular, were in high demand.</pre>
  </article>
  <article>
    <h3>2022:</h3>
    <pre>The "In Shine" salon continued to expand its client base in 2022 and
         added new services, including injectable procedures and laser hair
         removal. It also actively engaged in social media to keep clients
         updated on the latest beauty trends.</pre>
  </article>
    <article>
    <h3>2023:</h3>
      <pre>In the current year, "In Shine" announced a collaboration with
           a renowned cosmetic doctor who became a consultant for the salon.
           This further solidified the salon's reputation among clients,
           and it continues to thrive, offering the best beauty and
           skincare services</pre>
  </article>
</section>

</article>
<section>
    <article translate="yes">
    <figure>
        <br />Here are breathtaking poem <br />
        <article>
            In nature, stars burn, not gathering into gold,<br>
And just a glimpse at the skies,<wbr> - so beautifully and young it unfolds.<br>

Mountains rise amidst forests and lakes so clear,<br>
With their beauty, they grant the world wonders for years.<br>

Rivers flow like verses, composing water's song,<br>
And the sun smiles, lighting the earth all day long.<br>

All flowers, like beauties, bloom in the spring's embrace,<br>
And nature, like a muse, is always ready to inspire our grace.<br>

In this natural beauty, life's harmony does reside,<br>
And in every corner of it,<wbr> - a unique symphony does hide.<br>

May your heart blossom like a flower in May's embrace,<br>
In harmony with nature,<wbr> you'll find your bright path's trace always.<br>
        </article>
        <figcaption>
            Ursula le Guin <i>"True beauty"</i>
        </figcaption>
    </figure>
</article>
</section>
<section>
    <div class="ramka" style="border: 2px solid #8374d3; width:400px; margin:auto">
        <ul>
            <li>Adress: Minsk, Gikalo9</li>
            <li>Phone: +375(33) 6947822</li>
            <li>Email: inShine@gmail.com</li>
            <li>Card: 1234567890</li>
        </ul></div>
</section>
<section style="text-align: center; margin: 10px;">
    <article>
    <iframe name="fr" width="400" height="400" srcdoc=" <br />
        CERTIFICATE OF MEMBERSHIP IN NCoC (NATIONAL COMMUNITY OF COSMETIC)
        <br />
        <br />
        <br />
        <h1>CERTIFICATE</h1>
        <h2><small>regarding the Inclusion of Information</small></h2>
        <br />

        Minsk N  33 august 2023
        <br />
        <b>ООО 'Talin Cosmetic'</b>
        <br />

        Shevtsova D.S.
        <br />
        Director"></iframe>
    </article>
</section>
{% endblock %}