<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <title>Cosmetology</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
            <script>
        function updateDateTime()
        {
            var currentDateTime = new Date();
            var formattedDateTime = currentDateTime.toLocaleString();
            var element = document.getElementById("current-datetime");
            element.innerHTML = formattedDateTime;
        }
        setInterval(updateDateTime, 1000);
    </script>
</head>
<body>
    <div class="navbar">

        <a href="/" class="navbar-brand">Cosmetology Salon</a>
        <a href="/CosmetologyApp/" class="navbar-item">Home</a>
        <a href="/CosmetologyApp/service" class="navbar-item">Service</a>
        <a href="/CosmetologyApp/static_info/" class="navbar-item">Static Info</a>

        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <a href="/CosmetologyApp/diagram/" class="navbar-item">Diagram</a>
        {%endif%}
        <h class="navbar-item" ><font color="black">User: {{ user.get_username }}</font></h>
<!--        <h class="navbar-item">Phone: {{ doctor.get_number }}</h>-->
        <a href="/CosmetologyApp/shedule" class="navbar-item">Shedule</a>
        <a href="/CosmetologyApp/client" class="navbar-item">Clients</a>
        <a href="/CosmetologyApp/accounts/logout/" class="navbar-item">Logout</a>

        {% else %}
        <a href="/CosmetologyApp/accounts/login/" class="navbar-item">Login</a>

        {% endif %}

    </div>
    <div class="body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; 2023</p>
            {{ content }}
        </footer>
    </div>
</body>
</html>