{% extends "CosmetologyApp/layout.html" %}

{% block title %}Personal Account{% endblock %}

{% block content %}
  <h1>Hello, {{ user.username }}!</h1>
    <ul>
        <li><a href="/CosmetologyApp/personal/profile/">My Profile</a></li>
        <li><a href="/CosmetologyApp/personal/client/">Clients</a></li>
        <li><a href="/CosmetologyApp/personal/service/">Service</a></li>
        <li><a href="/CosmetologyApp/personal/shedule/">Shedule</a></li>
        <li><a href="/CosmetologyApp/accounts/logout/">Log out</a></li>
    </ul>
{% endblock %}