{% extends "CosmetologyApp/layout.html" %}

{% block content %}
<h1 class="name">Services</h1>
{% if service_list %}
<table>
<tr><th>Service:</th><th>Price:</th></tr> <!--ряд с ячейками заголовков-->

    {% for service in service_list %}
    <tr><td> <a href="/CosmetologyApp/service/{{ service.id }}">{{ service.procedure }}</a></td>
        <td>{{ service.price }}</td></tr>
    {% endfor %}

</table>
{% else %}
    <p>There are no services in the salon</p>
{% endif %}
{% if user.is_superuser %}
    <p><a href="/CosmetologyApp/service/add/">Add</a></p>
{% endif %}
{% endblock %}