{% extends "CosmetologyApp/layout.html" %}

{% block content %}
<h1 class="name">Shedule</h1>
{% if shedule_list %}
<table>
<tr><th>Doctor:</th><th>Client:</th><th>Service:</th><th>Room:</th><th>Date:</th></tr>

    {% for shedule in shedule_list %}
    <tr><td> {{ shedule.doctor }}</td><td>{{ shedule.client }}</td>
        <td>{{ shedule.service }}</td><td>{{ shedule.service }}</td>
        <td>{{ shedule.date }}</td>
    </tr>
    {% endfor %}

</table>
{% else %}
    <p>There are no shedule in the salon</p>
{% endif %}
{% endblock %}