{% extends "CosmetologyApp/layout.html" %}

{% block title %}Static Info{% endblock %}

{% block content %}
<h1>Static Info</h1>
<table>
<tr>
    <th colspan="2">Counts of:</th>
    <th rowspan="2" id="service">Count of services:</th><th rowspan="2" id="appoint">Count of doctor's appointment:
    </th><th rowspan="2" id="proc">Latest used procedure:</th></th><th rowspan="2" id="popS">The most popular service:</th>
</tr>

<tr>
    <th id="clients">Count of clients:</th><th id="doc">Count of doctors:</th>
</tr>

</tr>
    <tr><td headers="clients"> {{ client_count }}</td><td headers="doc">{{ doctor_count }}</td>
        <td headers="service">{{ service_count }}</td><td headers="appoint">{{ priems_count}}</td>
        <td headers="proc">{{ latest_proc }}</td> <td headers="popS">{{ pop_service }}</td>
    </tr>


</table>

<!--  -->
<!--     <ul>-->
<!--        <li><em>Count of clients: </em>{{ client_count }}</li>-->
<!--        <li><em>Count of doctors: </em>{{ doctor_count }}</li>-->
<!--        <li><em>Count of services: </em>{{ service_count }}</li>-->
<!--        <li><em>Count of doctor's appointment: </em>{{priems_count}}</li>-->
<!--         <li><em>Latest procedure: </em><a href="/CosmetologyApp/service/{{ service.id }}">{{ latest_proc }}</a></li>-->
<!--        <li><em>The most popular service: </em>{{ pop_service }}</li>-->
<!--    </ul>-->
{% endblock %}